<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Players</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onClickFavorite()">
        <ion-icon name="star" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-searchbar
    animated
    showCancelButton="focus"
    color="primary"
    (ionClear)="onClear()"
    (ionCancel)="onCancel()"
    (ionChange)=" onChangeSearchValue()"
    padding
    [(ngModel)]="searchBarInput"
  ></ion-searchbar>
  <ion-list>
    <ion-item
      *ngFor="let player of players"
      [routerLink]="['/home/players',player.id]"
    >
      <ion-avatar slot="start">
        <ion-img [src]="player.imageUrl"> </ion-img>
      </ion-avatar>
      <ion-label>
        {{player.name}}
      </ion-label>
      <ion-label slot="end" class="ion-text-right" style="max-width: 20px;">
        {{player.jerseyNumber}}
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
