<ion-tabs>
  <ion-tab-bar slot="bottom" color="primary">
    <ion-tab-button tab="players">
      <ion-icon name="people-circle-sharp"></ion-icon>
      <ion-label>Players</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="coaches">
      <ion-icon name="people-circle-sharp"></ion-icon>
      <ion-label>Coaching Staff</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="location">
      <ion-icon name="map"></ion-icon>
      <ion-label>Location</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
